<form method="post" action="{{ path('driving_licence_delete', {'id': driving_licence.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ driving_licence.id) }}">
    <button class="btn">Delete</button>
</form>
