<form method="post" action="{{ path('physical_delete', {'id': physical.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ physical.id) }}">
    <button class="btn">Delete</button>
</form>
