<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
    <p>
        Votre candidature à {{ project.title }} n'a, malheureusement, pas été retenue.
    </p>
    <p>
        Nous vous remercions de faire partie de la communauté TheWill et espérons vos prochaines candidatures.
    </p>
</body>
</html>