<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
    <h1>Votre compte TheWill a été validé !</h1>
    <p>
        Vous pouvez maintenant accéder à votre espace candidat afin de gérer votre profil et postuler à des castings.
    </p>
    <p>
        Candidatez dès à présent ! <a href="{{ absolute_url(path('login')) }}">Je me connecte</a>
    </p>
</body>
</html>